<div id="<%= dom_id commit %>">
  <p>
    <strong>User:</strong>
    <%= commit.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= commit.project_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= commit.title %>
  </p>

  <p>
    <strong>Commit:</strong>
    <%= commit.commit %>
  </p>

</div>
