<div id="<%= dom_id cohort %>">
  <p>
    <strong>Name:</strong>
    <%= cohort.name %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= cohort.tag %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= cohort.message %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= cohort.admin_id %>
  </p>

  <p>
    <strong>Join key:</strong>
    <%= cohort.join_key %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= cohort.private %>
  </p>

</div>
