<div id="<%= dom_id setting %>">
  <p>
    <strong>User:</strong>
    <%= setting.user_id %>
  </p>

  <p>
    <strong>Backgroundcolor:</strong>
    <%= setting.backgroundcolor %>
  </p>

  <p>
    <strong>Font:</strong>
    <%= setting.font %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= setting.color %>
  </p>

</div>
