<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Front lang:</strong>
    <%= project.front_lang %>
  </p>

  <p>
    <strong>Back lang:</strong>
    <%= project.back_lang %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= project.key %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= project.private %>
  </p>

</div>
